@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
    scroll-padding: 80px;
}

body {
    max-width: 100%;
    margin: 0;
    padding: 0 15px;
    box-sizing: border-box;
    background-color: #FAFAFA;
    color: #141010;
    display: flex;
    flex-wrap: wrap;
    font-family: "Inter", sans-serif;
    /* font-family: "Public Sans", sans-serif; */
}

/* navbar section */
.nav-bar {
    width: 100%;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    border: 0.5px solid gray;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav-logo {
    width: 10%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo img {
    width: 100%;
}

.nav-links {
    padding: 16px 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-links ul li {
    float: left;
}

.nav-links ul li a {
    text-decoration: none;
    padding: 20px 25px;
    color: #141010;
    font-family: "Public Sans", sans-serif;
    font-size: 1.12rem;
    transition: all .2s ease;
}

.nav-links ul li a:hover {
    font-weight: 600;
}

.action-btn {
    width: 10%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-btn a {
    text-decoration: none;
    padding: 10px 18px;
    border: 0.7px solid #141010;
    border-radius: 8px;
    font-size: 1rem;
    color: #141010;
    background-color: #ffffff;
    transition: all .3s ease;
}

.action-btn a:hover {
    color: #ffffff;
    background-color: rgb(0, 0, 0);
}

.nav-toggle {
    display: none;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: #141010;
    border-radius: 2px;
}







/* hero section */
.hero-section {
    max-width: 1200px;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hero-infor {
    max-width: 900px;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0;
    margin-top: 85px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.hero-infor i {
    font-size: 1rem;
    font-weight: 200;
    margin-right: 4px;
}

.hero-infor span {
    font-size: 1.12rem;
    padding: 10px 24px;
    border: .5px solid #141010;
    border-radius: 10px;
    margin: 0;
}

.hero-infor h1 {
    font-family: 'Public Sans', sans-serif;
    font-size: 3rem;
    color: #141010;
    margin:0;
    margin-top: 0.9rem;
}

.hero-infor p {
    width: 80%;
    color: #141010;
    margin: 0;
    margin-top: 0.9rem;
    font-size: 1.12rem;
    font-weight: 250;
}

.hero-btn {
    margin: 0;
    margin-top: 18px;
    display: flex;
    gap: 20px;
}

.hero-btn a {
    text-decoration: none;
    padding: 12px 32px;
    background-color: #141010;
    margin-bottom: 7px;
    color: #ffffff;
    border-radius: 10px;
    transition: all .2s ease;
}

.hero-btn a:hover {
    transform: scale(1.03);
}

.hero-banner {
    width: 1119px;
    height: auto;
    overflow: hidden;
    padding: 20px 9px;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #efeef2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.hero-banner-card-rating  {
    width: 100%;
    max-width: 200px;
    height: 250px;
    overflow: hidden;
    border-radius: 16px;
    background-color: #312222;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-banner-card-rating h1{
    font-size: 48px;
    color: #ffffff;
    margin: 0;
}

.star {
    width: 70%;
    height: 20px;
    overflow: hidden;
    margin: 0;
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    color: #ffffff;
}

.hero-banner-card-rating span {
    margin-top: 12px;
    color: #ffffff;
}

.hero-banner-card-rating a {
    color: #0672F3;
    margin-top: 26px;
}

.hero-banner-card {
    width: 100%;
    max-width: 200px;
    height: 250px;
    overflow: hidden;
    border: 1.5px solid #14101057;
    border-radius: 16px;
    background-color: #F7F6F9;
    display: flex;
    align-items: left;
    flex-direction: column;
}

.icon {
    width: 40px;
    height: 38px;
    background-color: #ffffff;
    margin: 0;
    margin-top: 25px;
    margin-left: 22px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0672F3;
}

.hero-banner-card h1 {
    font-family: 'Public Sans' sans-serif;
    font-size: 18px;
    color: #141010;
    margin: 0;
    margin-top: 80px;
    margin-left: 22px;
}

.hero-banner-card p {
    width: 85%;
    font-size: 12px;
    font-weight: 300;
    color: #141010;
    margin-left: 22px;
}







.service-section {
    width: 1200px;
    height: auto;
    overflow: hidden;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.service-section h1 {
    font-family: "Public Sans", sans-serif;
    font-size: 48px;
}

.service-content {
    height: auto;
    overflow: hidden;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 65px;
}

.service-card {
    width: 324px;
    height: 340px;
    overflow: hidden;
    background-color: #F7F6F9;
    border: 1px solid #DDD1D1;
    border-radius: 18px;
    margin: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: default;
    transition: all .2s ease;
}

.service-card h1 {
    font-family: "Public Sans", sans-serif;
    font-size: 28px;
    font-weight: 650;
}

.service-card a {
    text-decoration: none;
    cursor: default;
    padding: 16px;
    background-color: #ffffff;
    color: #141010;
    border-radius: 10px;
    font-size: 24px;
    margin-bottom: 14px;
}

.service-card span {
    font-size: 18px;
    font-weight: 500;
}

.service-card p {
    width: 87%;
    font-size: 18px;
    font-weight: 300;
}

.service-card:hover{
    background-color: #efeff2;
    transform: scale(1.02);
}

.promote-card {
    width: 90%;
    max-width: 1050px;
    margin: 0 auto;
    height: auto;
    background-color: #312222;
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 40px 45px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.left-cols {
    width: 45%;
    text-align: left;
    color: #ffffff;
    font-family: "Public Sans", sans-serif;
}

.left-cols h1 {
    font-size: 48px;
    margin: 0;
    margin-bottom: 50px;
}

.left-cols span {
    color: #0672F3;
}

.left-cols a {
    text-decoration: none;
    color: #141010;
    font-size: 18px;
    padding: 14px 24px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 10px;
    transition: all .2s ease;
}

.left-cols a:hover {
    background-color: #141010;
    color: #ffffff;
}

.right-cols {
    width: 55%;
    height: auto;
    overflow: hidden;
    margin-top: 10px;
}

.right-cols p {
    width: 90%;
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
    text-align: left;
    line-height: 1.7;
}







/* about-section */
.about-section {
    width: 90%;
    max-width: 1050px;
    margin: 0 auto;
    height: auto;
    background-color: #F7F6F9;
    border: 1px solid #a1838348;
    border-radius: 20px;
    margin-top: 30px;
    padding: 40px 45px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.about-section h1 {
    font-size: 48px;
    font-family: "Public Sans", sans-serif;
    margin: 0;
}

.about-content {
    height: auto;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.about-image {
    width: 430px;
    height: 380px;
    overflow: hidden;
    background-color: #efeff2;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-cols {
    width: 90%;
    height: 75%;
    overflow: hidden;
    margin-top: 20px;
    border-radius: 14px 14px 0px 0px;
}

.image-cols img {
    width: 100%;    
    object-fit: cover;
}

.style-name {
    height: 25%;
    margin-top: 25px;
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.style-name i {
    padding: 18px 22px;
    border-radius: 0px 0px 0px 10px;
    background-color: #141010;
    margin: 0;
    color: #ffffff;
    display: inline-block;
}

.style-name h1 {
    display: inline-block;
    margin: 0;
    font-size: 36px;
    margin: 0;
    margin-right: 40px;
    margin-left: 50px;
}

.about-infor {
    width: 555px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.about-infor h1, small {
    font-size: 32px;
    font-family: "Public Sans", sans-serif;
    text-align: left;
}

.about-infor span{
    font-size: 18px;
    font-weight: 600;
    margin-top: 18px;
}

.about-infor p {
    font-size: 18px;
    font-weight: 300;
}



/* skill rating-section */
.about-section h2 {
    font-size: 34px;
    font-family: "Public Sans", sans-serif;
    font-weight: 600;
}

.skill-content {
    height: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.rating-cols {
    width: 55%;
    height: auto;
    overflow: hidden;
    background-color: #efeff2;
    border-radius: 18px;
    padding: 20px 30px;
}

.skill-tool-cols {
    width: 95%;
    height: 60px;
    overflow: hidden;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.skill-tool-cols h1 {
    font-size: 20px;
    font-family: "Public Sans", sans-serif;
}

.tool {
    width: 100%;
    height: 20px;
    overflow: hidden;
    background-color: #ffffff;
    margin-top: 8px;
    position: relative;
}

.tool-percent {
    width: 80%;
    height: 100%;
    overflow: hidden;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
}

.extra-1 {
    width: 90%;
}

.extra-2 {
    width: 90%;
}

.extra-3 {
    width: 85%;
}

.rating-overall {
    width: 30%;
    height: 300px;
    overflow: hidden;
    background-color: #efeff2;
    padding: 20px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.outer-circle {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  background: conic-gradient(#141010 0% 85%, #e0e0e0 80%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-circle {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.number {
  font-size: 42px;
  font-weight: 700;
  color: #141010;
}

.rating-overall h1 {
    font-size: 24px;
    margin-top: 20px;
    font-weight: 700;
}

.soft-skill {
    height: auto;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.skill-card {
    width: 315px;
    height: 215px;
    overflow: hidden;
    background-color: #ffffff;
    border: 1px solid #E8E7EE;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.skill-card i {
    font-size: 28px;
    margin-top: 10px;
}

.skill-card h1 {
    font-size: 28px;
    font-family: "Public Sans", sans-serif;
    margin-top: 10px;
}

.skill-card p {
    width: 80%;
    font-size: 16px;
    font-weight: 300;
}

.project-content {
    height: auto;
    overflow: hidden;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.project-card {
    width: 484px;
    height: 310px;
    overflow: hidden;
    border: 1px solid #31222263;
    border-radius: 18px;
    position: relative;
}

.project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .2s ease;
}

.project-card img:hover {
    filter: brightness(60%);
}

.project-card-overlay {
    width: 100%;
    height: 100%;
    background: #2b3831;
    background: linear-gradient(0deg, rgba(43, 56, 49, 0.7) 10%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: all .4s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    pointer-events: none;
}

.project-card-overlay h1 {
    font-family: "Public Sans", sans-serif;
    font-size: 38px;
    color: #ffffff;
}

.project-card-overlay p {
    width: 75%;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
}

.project-card-overlay a {
    font-weight: 500;
    font-size: 20px;
    padding: 20px;
    background-color: #14101098;
    border-radius: 50%;
    color: #ffffff;
    margin-top: 12px;
}

.project-card:hover .project-card-overlay{
    transform: translateY(0%);
}

.promote-2 {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 20px;
}

.contact-card {
    max-width: 1140px;
    height: 300px;
    overflow: hidden;
    background-color: #141010;
    margin: 0 auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contact-card h1 {
    font-size: 48px;
    color: #ffffff;
}

.contact-card span {
    color: #0672F3;
}

.contact-card i {
    font-size: 32px;
    color: #ffffff;
    margin-top: 16px;
}








.contact-section {
    width: 95%;
    max-width: 1200px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    padding: 4px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contact-section i {
    font-size: 1rem;
    font-weight: 200;
    margin-right: 4px;
}

.contact-section span {
    font-size: 1.12rem;
    padding: 10px 24px;
    border: .5px solid #141010;
    border-radius: 10px;
    margin: 0;
    margin-top: 16px;
}

.contact-section h1 {
    font-size: 48px;
    margin: 0;
    margin-top: 16px;
    font-family: "Public Sans", sans-serif;
    color: #141010;
}

.contact-section p {
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    margin-top: 18px;
    margin-bottom: 45px;
    color: #141010;
}

.contact-content {
    width: 1150px;
    height: auto;
    overflow: hidden;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.contact-left-cols {
    width: 495px;
    height: 515px;
    overflow: hidden;
    padding: 25px;
    background-color: #F7F6F9;
    border: 2px solid #31222221;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    text-align: left;
}

.contact-left-cols h1 {
    font-size: 28px;
    font-family: "Public Sans", sans-serif;
    color: #141010;
    margin-top: 8px;
    margin-bottom: 6px;
}

.contact-left-cols p {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 300;
}

.contact-card-cols {
    width: 100%;
    height: 64px;
    overflow: hidden;
    background-color:  #ffffff;
    margin: 0;
    margin-bottom: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}

.cols-left {
    width: 64px; /* same as card height for square */
    display: flex;
    align-items: center;
    justify-content: center;
}

.cols-left i {
    font-size: 22px;
    margin-left: 16px;
    padding: 12px 12px;
    border-radius: 6px;
    color: #ffffff;
    background-color: #0672F3;
}

.cols-right {
    width: 70%;
    height: 70%;
    overflow: hidden;
}

.cols-right small {
    font-size: 18px;
    color: #2b38318b;
    margin: 0;
}

.cols-right p {
    margin: 0;
    font-size: 16px;
    font-weight: 250;
}

.social-media {
    width: 40%;
    height: 45px;
    overflow: hidden;
    margin-top: 40px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 18px;
}

.social-media i {
    font-size: 18px;
    padding: 16px;
    color: #0672F3;
    background-color: #ffffff;
    border-radius: 10px;
    transition: all .3s ease;
    cursor: pointer;
}

.social-media i:hover {
    background-color: #141010;
    color: #ffffff;
}

.contact-right-cols {
    width: 495px;
    height: 515px;
    overflow: hidden;
    padding: 25px 32px;
    background-color: #F7F6F9;
    border: 2px solid #31222221;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    text-align: left;
}

.name-form {
    height: auto;
    margin-bottom: 16px;
}

.name-form label{
    font-size: 16px;
    color: #4f4f4fb9;
    margin-left: 10px;
}

.name-form input {
    width: 95%;
    height: 40px;
    padding: 0px 12px;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
}

.name-form ::placeholder {
    font-size: 12px;
    font-weight: 300;
}

.name-form textarea {
    width: 95%;
    height: 190px;
    border-radius: 8px;
    margin-top: 10px;
    padding: 14px 10px;
    border: none;
    font-family: "Inter", sans-serif;
}

.send input {
    width: 100%;
    height: 45px;
    border-radius: 12px;
    border: none;
    color: #ffffff;
    background-color: #0672F3;
    cursor: pointer;
}










footer {
    width: 100%;
    height: auto;
    overflow: hidden;
    font-weight: 250;
    margin: 0;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}




















@media (max-width: 1080px) {
    .nav-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav-logo {
        width: 14%;
        height: 60px;
    }

    .nav-links {
        gap: 16px;
    }
     
    .nav-links ul li a {
        font-size: 16px;
    }

    /* hero-section */
    .hero-section {
        margin-bottom: 0px;
    }

    .hero-infor span {
        font-size: 16px;
        padding: 10px 16px;
    }

    .hero-infor {
        width: 100%;
        height: auto;
        overflow: hidden;
        margin: 0;
        margin-top: 78px;
        margin-bottom: 0px;
    }

    .hero-infor h1 {
        font-size: 38px;
    }

    .hero-infor p {
        font-size: 18px;
    }
    .hero-infor a{
        font-size: 18px;
    }

    .hero-btn {
        margin-bottom: 10px;
    }
    
    .hero-banner {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 0;
        margin-bottom: 18px;
        gap: 25px;
    }

    .hero-banner-card-rating {
        width: 85%;
        max-width: 180px;
    }

    .hero-banner-card {
        width: 85%;
        max-width: 180px;
    }


    /* service-section */
    .service-section h1 {
        font-size: 38px;
    }

    .service-content {
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 18px;
    }

    .service-card {
        width: 100%;
        max-width: 300px;
        height: 330px;
    }

    .service-card h1 {
        font-size: 28px;
    }

    .about-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        padding: 40px 60px;
    }
    .about-section h1 {
        font-size: 38px;
    }

    .about-content {
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 14px;
        margin-bottom: 12px;
    }

    .about-image {
        width: 45%;
        height: auto;
    }

    .style-name h1 {
        font-size: 26px;
        margin-left: 10px;
    }

    .style-name i {
        font-size: 18px;
        padding: 10px 16px;
    }

    .about-infor {
        width: 50%;
        height: auto;
        text-align: left;
    }
    

    .about-infor h1 {
        font-size: 26px;
    }

    .about-infor small {
        font-size: 26px;
    }


    .about-infor p,
    .about-infor span {
        font-size: 18px;
    }

    /* skill-review */
    .skill-content {
        width: 100%;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        border-radius: 18px;
        gap: 14px;
    }

    .about-section h2 {
        font-size: 24px;
        margin-bottom: 0;
    }

    .rating-cols {
        width: 60%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .rating-cols h1 {
        font-size: 18px;
    }

    .tool {
        height: 13px;
    }
    
    /* circle-rate */
    .rating-overall {
        width: 34%;
        height: auto;
        padding: 67px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .outer-circle {
        width: 160px;
        height: 160px;
    }

    .inner-circle {
        width: 130px;
        height: 130px;
    }

    .number {
        font-size: 30px;
    }

    .rating-overall h1 {
        font-size: 24px;
        text-align: center;
        margin-top: 18px;
    }

    /* soft-skill */
    .soft-skill {
        width: 100%;
        height: auto;
        flex-wrap: nowrap;
        align-items: center;
        margin: 0;
        margin-bottom: 24px;
        padding: 0px 10px;
    }

    .skill-card {
        width: 100%;
        height: 90%;
        padding: 8px 12px;
    }

    .skill-card i {
        font-size: 24px;
        margin-top: 14px;
    }

    .skill-card h1 {
        font-size: 24px;
        margin-top: 2px;
    }

    .skill-card p {
        width: 93%;
        margin-top: 8px;
        font-size: 18px;
    }



    /* project-section */   
    .project-content {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        gap: 8px;
    }

    .project-card {
        width: 49%;
        height: 250px;
    }

    .project-card-overlay {
        width: 100%;
        height: 100%;
        transform: translateY(100%);
    }

    .project-card:hover .project-card-overlay {
        transform: translateY(0%);
    }

    .project-card-overlay h1 {
        font-size: 16px;
    }

    .project-card-overlay p {
        font-size: 10px;
        width: 95%;
    }

    .project-card-overlay a {
        padding: 6px;
        font-size: 6px;
        margin-top: 0px;
    }

    .project-card-overlay a i {
        font-size: 6px;
    }

    .contact-content {
        width: 100%;
        height: auto;
        gap: 16px;
    }

    .contact-left-cols p {
        margin-top: 8px;
        margin-bottom: 14px;
    }

    
    .contact-card-cols {
        width: 100%;
        height: 65px;
    }

    .contact-card-cols i {
        font-size: 16px;
    }

    .contact-card-cols small {
        font-size: 16px;
        margin: 0;
    }

    .contact-card-cols p {
        font-size: 14px;
        margin: 0;
    }

    .social-media {
        width: 90%;
        margin-top: 12px;
    }
}




















@media (max-width: 768px) {
    /* navbar-section */
    .nav-bar {
        flex-wrap: wrap;
        height: auto;
        padding: 4px 15px;
        justify-content: space-between;
        margin: 0;
    }

    .nav-logo {
        width: 17%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
    }

    .nav-logo img{
        width: 140%;
        height: auto;
        margin: 0;
        margin-top: 6px;
    }

    .nav-links,
    .action-btn {
        display: none;
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hamburger {
        margin-right: 50px;
        display: flex;
    }

    #nav-toggle:checked ~ .nav-links,
    #nav-toggle:checked ~ .action-btn {
        display: flex;
        margin-top: 10px;
    }

    .nav-links ul {
        flex-direction: column;
        gap: 10px;
    }

    .nav-links ul li a {
        font-size: 14px;
        padding: 6px 12px;
    }

    .action-btn a {
        font-size: 14px;
        padding: 8px 16px;
        margin-top: 10px;
        margin-bottom: 6px;
        margin-right: 16px;
    }

    /* hero-section */
    .hero-section {
        width: 95%;
        height: auto;
        padding: 20px 10px;
        margin: 0;
    }

    .hero-infor {
        margin-top: 65px;
    }

    .hero-infor i{
        font-size: 12px;
    }

    .hero-infor span {
        font-size: 12px;
        padding: 6px 14px;
        border-radius: 7px;
    }

    .hero-infor h1 {
        font-size: 26px;
    }

    .hero-infor p {
        width: 90%;
        font-size: 14px;
    }

    .hero-infor a {
        margin-bottom: 6px;
    }

    .hero-btn {
        gap: 10px;
    }

    .hero-btn a {
        font-size: 14px;
        padding: 8px 18px;
        border-radius: 7px;
    }
    .hero-banner {
        flex-wrap: wrap;
        align-items: center;
        height: auto;
        gap: 10px;
        margin-top: 14px;
        padding: 20px 15px;
    }

    .hero-banner-card-rating {
        width: 90%;
        max-width: 600px;
        height: auto;
        padding: 16px 12px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-banner-card-rating h1 {
        font-size: 24px;
    }

    .star {
        width: 70%;
        height: 20px;
        margin-top: 4px;
    }

    .star i {
        font-size: 10px;
    }

    .hero-banner-card-rating span {
        font-size: 10px;
        margin-top: 4px;
    }

    .hero-banner-card-rating a {
        font-size: 14px;
        margin-top: 6px;
    }

    .hero-banner-card {
        width: 90%;
        max-width: 600px;
        height: auto;
        padding: 18px 12px;
        margin: 0;
        margin-bottom: 10px;
        padding: 10px 12px;
    }

    .icon {
        width: 24px;
        height: 22px;
        border-radius: 6px;
        margin: 0;
    }

    .icon i {
        font-size: 12px;
    }

    .hero-banner-card h1 {
        font-size: 18px;
        margin: 0;
        margin-top: 16px;
        margin-bottom: 6px;
    }

    .hero-banner-card p {
        width: 100%;
        margin: 0;
        margin-top: 2px;
        font-size: 14px;
    }


    /* service-section */
    .service-content {
        width: 100%;
        gap: 16px;
    }

    .service-section h1 {
        font-size: 26px;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .service-card {
        width: 85%;
        max-width: 600px;
        height: auto;
        padding: 4px 22px;
        text-align: left;
        display: block;
    }

    .service-card h1 {
        font-size: 18px;
        margin-top: 10px;
        display: block;
    }

    .service-card a {
        padding: 8px;
        font-size: 18px;
        margin-right: 15px;
    }

    .service-card span {
        font-size: 15px;
    }

    .service-card p {
        width: 100%;
        font-size: 14px;
    }

    /* promote-section */
    .promote-card {
        flex-direction: column;
        align-items: center;
        padding: 30px 18px;
    }

    .left-cols, 
    .right-cols {
        width: 95%;
    }

    .left-cols h1 {
        font-size: 28px;
        margin-bottom: 30px;
    }

    .left-cols a {
        font-size: 14px;
        padding: 8px 16px;
        border-radius: 8px;
    }

    .right-cols p {
        font-size: 14px;
        width: 100%;
        margin-top: 40px;
    }


     /* about-section */
    .about-section {
        max-width: 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .about-content {
        margin-top: 8px;
    }

    .about-image {
        width: 100%;
        max-width: 600px;
        height: auto;
        margin-top: 0px;
    }

    .image-cols {
        width: 90%;
        max-width: 600px;
        height: auto;
    }

    .image-cols img {
        width: 100%;
        max-width: 600px;
    }
    .style-name {
        padding: 0px 15px;
        text-align: left;
    }

    .style-name i{
        font-size: 18px;
    }

    .style-name i {
        margin-right: 20px;
    }

    .about-section h1 {
        font-size: 24px;
        margin: 0;
        margin-bottom: 0px;
    }

    .about-infor {
        width: 100%;
        max-width: 600px;
    }

    .about-infor h1,small {
        font-size: 22px;
    }

    .about-infor span {
        font-size: 15px;
    }

    .about-infor p {
        font-size: 14px;
        margin-bottom: 0px;
    }
    


    /* skill-review */
    .skill-content {
        width: 100%;
        margin-top: 0;
        flex-direction: column;
        align-items: center;
        border-radius: 18px;
        gap: 20px;
    }

    .about-section h2 {
        font-size: 24px;
    }

    .rating-cols {
        width: 95%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .rating-cols h1 {
        font-size: 18px;
    }

    .tool {
        height: 13px;
    }
    
    /* circle-rate */
    .rating-overall {
        width: 100%;
        height: auto;
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .outer-circle {
        width: 160px;
        height: 160px;
    }

    .inner-circle {
        width: 130px;
        height: 130px;
    }

    .number {
        font-size: 30px;
    }

    .rating-overall h1 {
        font-size: 24px;
        text-align: center;
        margin-top: 18px;
    }

    /* soft-skill */
    .soft-skill {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        margin: 0;
        margin-bottom: 24px;
        padding: 12px 18px;
    }

    .skill-card {
        width: 100%;
        height: auto;
    }

    .skill-card i {
        font-size: 24px;
        margin-top: 14px;
    }

    .skill-card h1 {
        font-size: 24px;
        margin-top: 2px;
    }

    .skill-card p {
        width: 95%;
        margin-top: 8px;
        font-size: 16px;
    }

    /* project-section */   
    .project-content {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }

    .project-card {
        width: 47%;
        height: 150px;
    }

    .project-card-overlay {
        width: 100%;
        height: 100%;
        transform: translateY(100%);
    }

    .project-card:hover .project-card-overlay {
        transform: translateY(0%);
    }

    .project-card-overlay h1 {
        font-size: 16px;
    }

    .project-card-overlay p {
        font-size: 10px;
        width: 95%;
    }

    .project-card-overlay a {
        padding: 6px;
        font-size: 6px;
        margin-top: 0px;
    }

    .project-card-overlay a i {
        font-size: 6px;
    }

    .promote-2 {
        width: 100%;
        height: auto;
        margin-bottom: 40px;
        flex-direction: column;
        align-items: center;
    }

    .promote-2 h1 {
        font-size: 24px;
        margin: 0;
    }

    .promote-2 i {
        font-size: 24px;
    }


    /* contact-section */
    .contact-section {
        width: 100%;
        padding: 10px 8px;
    }

    .contact-section span {
        font-size: 14px;
        padding: 6px 14px;
        border-radius: 7px;
        margin-bottom: 12px;
    }

    .contact-section i {
        font-size: 14px;
    }

    .contact-section h1 {
        font-size: 24px;
        margin-top: 10px;
        margin-bottom: ;
    }

    .contact-section p {
        font-size: 16px;
        margin-bottom: 35px;
    }

    .contact-content {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-bottom: 50px;
    }

    .contact-left-cols,
    .contact-right-cols {
        width: 85%;
        height: auto;
        padding: 20px;
        text-align: left;
    }

    .contact-left-cols h1 {
        font-size: 24px;
    }

    .contact-left-cols p {
        font-size: 16px;
    }

    .contact-card-cols {
        width: 95%;
        padding: 4px 10px;
        flex-direction: row;
        align-items: center;
    }

    .cols-left {
        width: auto;
        margin-left: 0;
    }

    .cols-left i {
        font-size: 20px;
        padding: 10px;
    }

    .cols-right small {
        font-size: 16px;
    }

    .cols-right p {
        font-size: 15px;
    }

    .social-media {
        width: 100%;
        justify-content: center;
        margin-top: 30px;
        gap: 14px;
    }

    .name-form label {
        font-size: 14px;
    }

    .name-form input,
    .name-form textarea {
        width: 94%;
    }

    .send input {
        width: 100%;
    }



    /* footer-section */
    footer {
        margin: 0;
        margin-bottom: 10px;
    }
}