@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
    scroll-padding: ;
}

body {
    max-width: 100%;
    background-color: FAFAFA;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    /* font-family: "Public Sans", sans-serif; */
}

.nav-bar {
    width: 100%;
    height: 80px;
    overflow: hidden;
    background-color: white;
    border: 0.5 solid gray;
}